[submodule "software/hamr/microkit/vmm/deps/libvmm"]
	path = software/hamr/microkit/vmm/deps/libvmm
	url = https://github.com/au-ts/libvmm.git
[submodule "software/hamr/microkit/vmm/dep/libvmm"]
	path = software/hamr/microkit/vmm/deps/libvmm
	url = https://github.com/au-ts/libvmm
