name: Model Analysis and Code Generation

on:
  push:
    branches: ["feb-2026"]
    paths:
      - '**.sysml'
  pull_request:
    types: ["opened", "reopened", "edited"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  conformance:
    runs-on: ubuntu-latest
    if: false
    continue-on-error: true

    permissions:
      contents: read
      packages: read
      attestations: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v4
    - name: Copy Resolint Analysis Action
      uses: actions/checkout@v4
      with:
        repository: loonwerks/Resolint-CI-Action
        path: Resolint-CI-Action
    - name: Resolint Analysis
      id : resolint
      uses: ./Resolint-CI-Action
      with:
        project-path: isolate-ethernet-simple
        component-to-analyze: platform::ZCU102.Impl
    - name: Get analysis timestamp
      run: echo "Analysis timestamp is ${{ steps.conformance.outputs.timestamp }}"
    - name: Get analysis status
      run: echo "Analysis status is ${{ steps.conformance.outputs.status }}"
    - name: Get analysis status-messages
      run: echo "Analysis status messages are ${{ steps.conformance.outputs.status-messages }}"
    - name: Archive analysis results
      uses: actions/upload-artifact@v4
      with:
        name: resolint-analysis-report
        path: Resolint_output.json
        retention-days: 30

  verification:
    runs-on: ubuntu-latest
    continue-on-error: true

    permissions:
      contents: read
      packages: read
      attestations: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup APE binfmt
      run: |
        sudo wget -O /usr/bin/ape https://cosmo.zip/pub/cosmos/bin/ape-$(uname -m).elf
        sudo chmod +x /usr/bin/ape
        sudo sh -c "echo ':APE:M::MZqFpD::/usr/bin/ape:' >/proc/sys/fs/binfmt_misc/register" || true
        sudo sh -c "echo ':APE-jart:M:jartsr::/usr/bin/ape:' >/proc/sys/fs/binfmt_misc/register" || true

    - uses: actions/checkout@v4
    - name: Copy Logika Analysis Action
      uses: actions/checkout@v4
      with:
        repository: loonwerks/INSPECTA-Logika-CI-Action
        path: INSPECTA-Logika-CI-Action
        #ref: v1.2.0
    - name: Logika Analysis
      id : logika
      uses: ./INSPECTA-Logika-CI-Action
      with:
        sysmlv2-files: "[\"system/Platform.sysml\", \"system/SW.sysml\"]"
        sourcepaths: "[ \"system\" ]"
        parseable-messages: true
    - name: Get analysis timestamp
      if: ${{ always() }}
      run: echo "Analysis timestamp is ${{ steps.logika.outputs.timestamp }}"
    - name: Get analysis status
      if: ${{ always() }}
      run: echo "Analysis status is ${{ steps.logika.outputs.status }}"
    - name: Get analysis status-messages
      if: ${{ always() }}
      run: echo "Analysis status messages are ${{ steps.logika.outputs.status-messages }}" 
    - name: Collect analysis results report
      if: ${{ always() }}
      run: |
        echo ${{ steps.logika.outputs.status-messages }} | jq --raw-input . | jq --slurp '{"messages" : .}' \
          | jq --arg timestamp "${{ steps.logika.outputs.timestamp }}" \
          --arg exitcode ${{ steps.logika.outputs.status }} \
          '. += $ARGS.named' \
          > logika-report.json
    - name: Archive analysis results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: logika-analysis-report
        path: logika-report.json
        retention-days: 30

  codegen:
    runs-on: ubuntu-latest
    continue-on-error: true

    permissions:
      contents: write
      packages: read
      attestations: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        persist-credentials: true
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup APE binfmt
      run: |
        sudo wget -O /usr/bin/ape https://cosmo.zip/pub/cosmos/bin/ape-$(uname -m).elf
        sudo chmod +x /usr/bin/ape
        sudo sh -c "echo ':APE:M::MZqFpD::/usr/bin/ape:' >/proc/sys/fs/binfmt_misc/register" || true
        sudo sh -c "echo ':APE-jart:M:jartsr::/usr/bin/ape:' >/proc/sys/fs/binfmt_misc/register" || true

    - uses: actions/checkout@v4
    - name: Copy Code Generation Action
      uses: actions/checkout@v4
      with:
        repository: loonwerks/INSPECTA-Codegen-CI-Action
        path: INSPECTA-Codegen-CI-Action
        #ref: v1.2.0
    - name: HAMR Codegen
      id : hamr
      uses: ./INSPECTA-Codegen-CI-Action
      with:
        sysmlv2-files: "[\"system/Platform.sysml\"]"
        sourcepaths: "[ \"system\" ]"
        verbose: true
        parseable-messages: true
        platform: Microkit
        system-name: Platform::ZCU102
        slang-options: "{ \"slang-output-dir\" : \"hamr\", \"package-name\" : \"firewall\", \"no-proyek-ive\" : true }"
        transpiler-options: "{ \"run-transpiler\" : true, \"exclude-component-impl\" : true, \"output-c-dir\" : \"hamr/cache\", \"bit-width\" : 32, \"max-string-size\" : 256, \"max-array-size\" : 1 }"
        camkes-microkit-options: "{ \"workspace-root-dir\" : \"system\" }"
    - name: Get codegen timestamp
      if: ${{ always() }}
      run: echo "Codegen timestamp is ${{ steps.hamr.outputs.timestamp }}"
    - name: Get codegen status
      if: ${{ always() }}
      run: echo "Codegen status is ${{ steps.hamr.outputs.status }}"
    - name: Get codegen status-messages
      if: ${{ always() }}
      run: echo "Codegen status messages are ${{ steps.hamr.outputs.status-messages }}"
    - name: Count Lines of Code (cloc)
      if: ${{ always() }}
      uses: djdefi/cloc-action@main
      with:
        options: "--exclude-lang=YAML --json --report-file=cloc-report.json"
    - name: Collect codegen report
      if: ${{ always() }}
      run: |
        cat codegen.out | jq --raw-input . | jq --slurp '{"messages" : .}' > codegen-messages.json
        jq '{"cloc" : .}' cloc-report.json > cloc-report-sub.json
        jq -s 'add' codegen-messages.json cloc-report-sub.json \
          | jq --arg timestamp "$(date)" --arg exitcode ${{ steps.hamr.outputs.status }} '. += $ARGS.named' \
          > codegen-report.json
    - name: Archive codegen results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: codegen-report
        path: codegen-report.json
        retention-days: 30
    - name: Make output files readable
      run: sudo chmod -R +r system/hamr/*
    - name: Commit/push generated code
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        file_pattern: system/hamr/*
        commit_message: Generate code with INSPECTA-Codegen-CI-Action

  reports:
    runs-on: ubuntu-latest
    needs: [verification, codegen]
    continue-on-error: false

    permissions:
      artifact-metadata: read
      contents: write
      packages: read
      attestations: read
      pages: write
      id-token: write

    steps:
    - name: Download verfication report artifact
      uses: actions/download-artifact@v5
      with:
        name: logika-analysis-report
        path: public
    - name: Download codegen report artifact
      uses: actions/download-artifact@v5
      with:
        name: codegen-report
        path: public
    - name: Upload report to Pages
      if: ${{ always() }}
      uses: actions/upload-pages-artifact@v3
      with:
        path: public
    - name: Deploy to GitHub Pages
      if: ${{ always() }}
      uses: actions/deploy-pages@v4
